.board {
	margin: 1em 0;
}

.boardHeader {
    text-align: center;
}

.columns {
    composes: grid from "../../styles/utils.less";
    background: #ddd;
}
.columnItem {
    composes: gridItemSmall from "../../styles/utils.less";
    padding: 5px;
}
